/* Контейнер для кнопок авторизации */
#auth-buttons {
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопок справа */
    gap: 15px; /* Отступы между кнопками */
    margin-left: auto;
}

/* Общие стили для кнопок авторизации */
#menu-line .login-button,
#menu-line .register-button,
#menu-line .help-button {
    padding: 10px 20px; /* Увеличена зона клика */
    border-radius: 5px; /* Сделаны более округлыми */
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; /* Увеличен размер шрифта */
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
    text-align: center;
}

/* Индивидуальные стили для кнопок */
#menu-line .login-button {
    background-color: #007BFF;
    color: white;
    border: none;
}

#menu-line .register-button {
    background-color: white;
    color: #007BFF;
    border: 2px solid #007BFF;
}

#menu-line .help-button {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
}

/* Эффект при наведении */
#menu-line .login-button:hover
#menu-line .register-button:hover{
    transform: scale(1.05); /* Легкое увеличение */
    background-color: #0056b3;
    color: white;
}

#menu-line .register-button:hover,
#menu-line .help-button:hover {
    transform: scale(1.05); /* Легкое увеличение */
    background-color: #0056b3;
    color: #0056b3;
}

/* Эффект активного состояния */
#menu-line .login-button:active,
#menu-line .register-button:active,
#menu-line .help-button:active {
    transform: scale(0.98); /* Легкое уменьшение при нажатии */
    background-color: #003366; /* Темный цвет для нажатия */
}
